<html>
    <head>
        <title>Chess Game Logger</title>
        <link rel="stylesheet" href="./style.css">
        <script src="./script.js"></script>
    </head>
    <body onload="handleAction('players')">
        <div class="header">Chess Game Logger</div>
        <div class="main">
            <div class="sidebar">
                <button onclick="handleAction('players')">Player list</button>
                <button onclick="handleAction('games')">Game list</button>
                <button onclick="handleAction('matchmake')">Matchmaker</button>
            </div>
            <div class="content">
                <div id="inputArea">
                    
                </div>
                <div id="dataArea">
                    
                </div>
            </div>
        </div>
    </body>
</html>
